#root{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}
body{
  text-align: center;
  background-color: whitesmoke;
  font-size: 150%;
  min-height: 100vh;
}
header{
  background-color: #3194ee;
  padding: 10px;
  min-height: 5vh;
}
main{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
}
.container{
  background-color: rgba(216, 221, 251, 0.58);
  padding: 7%;
  border-radius: 50px;
  box-shadow: 10px 5px 4px 2px #9b27b0;
}
footer{
  background-color: #9b27b0;
  padding: 10px;
  min-height: 5vh;
}
.error{
  color: red;
}
.actions{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.action{
  width: clamp(300px, 20vw, 500px);
  border-radius:10px;
  background-color: #3194ee;
  margin:10px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  word-wrap: break-word;
}
.action h1,h2{
  margin:0;
}
.action button{
  margin:10px;
}
